@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html,
body {
	font-family: var(--font-def), sans-serif;
	font-weight: normal;
	font-size: 1rem;
	color: var(--txtcol);
	background-color: var(--pricol);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	width: 100vw;
}

a {
	text-decoration: none;
	color: inherit;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.def-pdg {
		@apply px-2
		md:px-5;
	}
}
